<div class="container">
    <div class="row mt-4">
        <h4>Super Admin Dashboard</h4>
        <div class="col-4 ">
            <div class="card" style="background-color:#8967c7;">
                <div class="card-title">Total Departments</div>
                <div class="card-content">{{superAdminObj.totalDepartments}}</div>
            </div>
        </div>
        <div class="col-4 ">
            <div class="card" style="background-color:#e5f294;">
                <div class="card-title">Total Employee</div>
                <div class="card-content">{{superAdminObj.totalEmployees}}</div>
            </div>
        </div>
        <div class="col-4 ">
            <div class="card" style="background-color:#0d6efd;">
                <div class="card-title">Total Tickets</div>
                <div class="card-content">{{superAdminObj.totalTickets}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 ">
            <div class="card" style="background-color:#20c997;">
                <div class="card-title">Total Unassigned Tickets</div>
                <div class="card-content">{{superAdminObj.totalUnAssignedTickets}}</div>
            </div>
        </div>
        <div class="col-4 ">
            <div class="card" style="background-color:#cd4488;">
                <div class="card-title">Total Assigned Tickets</div>
                <div class="card-content">{{superAdminObj.totalAssignedTickets}}</div>
            </div>
        </div>
        <div class="col-4 ">
            <div class="card" style="background-color:#ffc107;">
                <div class="card-title">Total Inprogress Tickets</div>
                <div class="card-content">{{superAdminObj.totalInProgressTickets}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 ">
            <div class="card" style="background-color:#0dcaf0;">
                <div class="card-title">Total Closed Tickets</div>
                <div class="card-content">{{superAdminObj.totalClosedTickets}}</div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-4">
        <h4>Employee Dashboard</h4>
        <div class="col-4 ">
            <div class="card" style="background-color:#8967c7;">
                <div class="card-title">Total Departments</div>
                <div class="card-content">{{superAdminObj.totalDepartments}}</div>
            </div>
        </div>
        <div class="col-4 ">
            <div class="card" style="background-color:#e5f294;">
                <div class="card-title">Total Employee</div>
                <div class="card-content">{{superAdminObj.totalEmployees}}</div>
            </div>
        </div>
        <div class="col-4 ">
            <div class="card" style="background-color:#0d6efd;">
                <div class="card-title">Total Tickets</div>
                <div class="card-content">{{superAdminObj.totalTickets}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 ">
            <div class="card" style="background-color:#20c997;">
                <div class="card-title">Total Unassigned Tickets</div>
                <div class="card-content">{{superAdminObj.totalUnAssignedTickets}}</div>
            </div>
        </div>
        <div class="col-4 ">
            <div class="card" style="background-color:#20c997;">
                <div class="card-title">Total Unassigned Tickets</div>
                <div class="card-content">{{superAdminObj.totalUnAssignedTickets}}</div>
            </div>
        </div>
    </div>
</div>