<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Tickets</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a class="nav-item nav-link" active routerLink="login">Login</a> -->
          <a class="nav-item nav-link"  routerLink="/employee">Employee</a>       
          <a class="nav-item nav-link " routerLink="/department">Department</a>
          <a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a> 
          <a class="nav-item nav-link" routerLink="/ticket">Ticket</a>       
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluide">
    <router-outlet></router-outlet>
  </div>
